<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/bcbcc485fd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Detalle del producto</title>
    </head>
    <body>

        <header>
            <!-- logotipo -->
            <div id="logo">
                <div class="nombre">COLMEX</div>
                <div class="buscar">
                    <form>
                        <input type="text" name="search" placeholder="Search..">
                    </form>
                </div>
            </div>
            <!-- Barra de búsqueda -->
            <div id="nombreUser"></div>
            <div id="sangre"></div>
            <div id="paz"></div>
        </header>


        <!-- Barra de navegación -->
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="detalleProducto">Detalla del producto</a></li>
                <li class="nav-item"><a class="nav-link" href="registro">Registro</a></li>
                <li class="nav-item"><a class="nav-link" href="login">login</a></li>
                <li class="nav-item"><a class="nav-link" href="crearLista">Crear lista</a></li>
                <li class="nav-item"><a class="nav-link" href="categorias">Categorias</a></li>
                <li class="nav-item"><a class="nav-link" href="carritoCompras">Carrito de compras</a>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-bell"></i></li>
            </ul>
        </nav>


        <main>
            <section>
                <article class="producto">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="No image">
                </article>
                <article class="descripcion">
                    <ul class="descripcion-item">
                        <li>Current price $ 00.00</li>
                        <li>Ofertas:</li>
                        <li>Description:</li>
                    </ul>
                </article>
            </section>
            <section>
                <div class="comentarios">
                    <ul>
                        <li class="comentarios"><h4>Comentarios</h4></li>
                        <li>NombreUsuario</li>
                        <li class="comentarios">Comentario</li>
                    </ul>
                </div>
            </section>
        </main>


        <footer>
            <section>
                <article>
                    <ul class="nav">
                        <h4 class="nav-item">Elige cómo pagar <br>
                            <i class="fa-solid fa-credit-card"></i>
                        </h4>
                        <li class="nav-item"><a href="">¡Siempre es seguro!</a></li>
                    </ul>
                </article>
                
                <article>
                    <ul class="nav">
                        <h4 class="nav-item">Envío gratis desde $300 <br>
                            <i class="fa-solid fa-box"></i></h4>
                        <li class="nav-item"><a href="">Envíos gratis en miles de productos.</a></li>
                    </ul>
                </article>
                <article>
                    <ul class="nav">
                        <h4 class="nav-item">Seguridad <br>
                            <i class="fa-solid fa-triangle-exclamation"></i></h4>
                        <li class="nav-item"><a href="">¿No te gusta? ¡Devolvelo!</a></li>
                    </ul>
                </article>
            </section>
        </footer>
    </body>
</html>