<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>COLMEX</title>
    </head>
    <body>

        <header>
            <h1>COLMEX</h1>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="">Listados activos</a></li>
                <li class="nav-item"><a class="nav-link" href="">Categorias</a></li>
                <li class="nav-item"><a class="nav-link" href="">Carrito de compras</a></li>
                <li class="nav-item"><a class="nav-link" href="">Carrito de compras</a></li>
                <li class="nav-item"><a class="nav-link" href="">Crear lista</a></li>
                <li class="nav-item"><a class="nav-link" href="">login</a></li>
                <li class="nav-item"><a class="nav-link" href="">Registro</a></li>
            </ul>
        </header>
        
        <main>
            
        </main>

        <footer>
            <ul>
                <li>
                    <section>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        ¡Siempre es seguro!
                    </section>
                </li>
                <li>
                    <section>
                        <h3>Envío gratis desde $ 250</h3>
                        Envíos gratis en miles de productos.
                    </section>
                </li>
                <li>
                    <section>
                        <h3>Seguridad, de principio a fin</h3>
                        ¿No te gusta? ¡Devolvelo! 
                    </section>
                </li>
                <li>
                    <section>Copyright © xxxx-202x</section>
                </li>
            </ul>
        </footer>
    </body>
</html>