<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/bcbcc485fd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Registro</title>
    </head>
    <body>

        <header>
            <!-- logotipo -->
            <div id="logo">
                <div class="nombre">COLMEX</div>
                <div class="buscar">
                    <form>
                        <input type="text" name="search" placeholder="Search..">
                    </form>
                </div>
            </div>
            <!-- Barra de búsqueda -->
            <div id="nombreUser"></div>
            <div id="sangre"></div>
            <div id="paz"></div>
        </header>


        <!-- Barra de navegación -->
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="detalleProducto">Detalla del producto</a></li>
                <li class="nav-item"><a class="nav-link" href="registro">Registro</a></li>
                <li class="nav-item"><a class="nav-link" href="login">login</a></li>
                <li class="nav-item"><a class="nav-link" href="crearLista">Crear lista</a></li>
                <li class="nav-item"><a class="nav-link" href="categorias">Categorias</a></li>
                <li class="nav-item"><a class="nav-link" href="carritoCompras">Carrito de compras</a>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-bell"></i></li>
            </ul>
        </nav>


        <main>
            <section>
                <form action="action_page.php">
                    <label for="birth_date"><b>Fecha de nacimiento</b></label>
                    <input type="date" name="birth_date" id="birth_date">
                    <br>
                    <label for="adress"><b>Direccion</b></label>
                    <input type="text" name="addres" placeholder="Domicilio">
                    <br>
                    <label for="tlf"><b>Número telefonico</b></label>
                    <input type="tlf" name="telefono" placeholder="(código de área) - Telefono">
                    <h4>Perfil del usuario</h4>
                    <div class="profile">
                        <input type="radio" name="profile" value="buy" id="buy">
                        <label for="buy">Comprador</label>
                        <input type="radio" name="profile" value="sell" id="sell">
                        <label for="sell">Vendedor</label>
                    </div>
                    <div class="container">
                          <div class="row">
                            <div class="col-25">
                              <label for="fname">Nombre</label>
                            </div>
                            <div class="col-75">
                              <input type="text" id="fname" name="firstname" placeholder="Tu nombre">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-25">
                              <label for="lname">Apellido</label>
                            </div>
                            <div class="col-75">
                              <input type="text" id="lname" name="lastname" placeholder="tu apellido">
                            </div>
                        </div>
                            </div>
                          <div class="row">
                            <div class="col-25">
                              <label for="country">Pais</label>
                            </div>
                            <div class="col-75">
                              <select id="country" name="country">
                                <option value="colombia">Colombia</option>
                                <option value="venezuela">Venezuela</option>
                                <option value="mexico">Mexico</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-25">
                              <label for="subject">Comentario</label>
                            </div>
                            <div class="col-75">
                              <textarea id="subject" name="subject" placeholder="Cuentanos algo de ti" style="height:200px"></textarea>
                            </div>
                          </div>
                          <div class="row">
                            <input type="submit" value="Submit">
                          </div>
                        </form>
                      </div>
            </section>
        </main>


        <footer>
            <section>
                <article>
                    <ul class="nav">
                        <h4 class="nav-item">Elige cómo pagar <br>
                            <i class="fa-solid fa-credit-card"></i>
                        </h4>
                        <li class="nav-item"><a href="">¡Siempre es seguro!</a></li>
                    </ul>
                </article>
                
                <article>
                    <ul class="nav">
                        <h4 class="nav-item">Envío gratis desde $300 <br>
                            <i class="fa-solid fa-box"></i></h4>
                        <li class="nav-item"><a href="">Envíos gratis en miles de productos.</a></li>
                    </ul>
                </article>
                <article>
                    <ul class="nav">
                        <h4 class="nav-item">Seguridad <br>
                            <i class="fa-solid fa-triangle-exclamation"></i></h4>
                        <li class="nav-item"><a href="">¿No te gusta? ¡Devolvelo!</a></li>
                    </ul>
                </article>
            </section>
        </footer>
    </body>
</html>