* {
  box-sizing: border-box;
}

:root {
  --vpHeather: 11vh;
  --vpNav: 12vh;
  --vpMain: 67vh;
  --vpMainArticle: 33vh;
  --vpFooter: 12vh;
}

.button {
  /* background-color: #4CAF50; */
  border: none;
  /* color: red; */
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  border-radius: 12px;
  background-color: #eb5353;
}

.button2 {
  border-radius: 12px;
  background-color: #36ae7c;
}

.asterisk {
  color: #eb5353;
}

body {
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100vw;
  font-size: 12px;
}

header #logo {
  background-color: #f9d923;
  width: 100vw;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@keyframes creciendo {
  0% {
    background-color: #f9d923;
  }
  100% {
    background-color: white;
    height: 50px;
    width: 115px;
    opacity: 0;
  }
}

.nombre{
  text-decoration: none;
}

.estrellas{
  color: #fad504;
}

.oferta{
  color: #36ae7c;
}
/* header #logo .nombre {
  flex-grow: 1;
  animation-name: creciendo;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

header #logo .buscar {
  flex-grow: 2;
}

header #logo .buscar input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.img-nav{
  width: 25px;
}

header #nombreUser {
  background-color: #187498;
  width: 100vw;
  height: 2vh;
}

header #sangre {
  background-color: #eb5353;
  width: 100vw;
  height: 2vh;
}

header #paz {
  background-color: white;
  width: 100vw;
  height: 1vh;
}

nav {
  margin: 0%;
  width: 100%;
  background-color: #36ae7c;
}

nav div .nav {
  margin: 0%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1rem;
}

nav .nav-item {
  padding: 0.25rem;
  list-style-type: none;
  text-align: center;
}

nav .nav-link {
  color: black;
  text-decoration: none;
}

nav .nav-control {
  display: inline-block;
  text-align: center;
  width: 100%;
}
nav .nav-control:hover {
  background-color: #1f7a54;
}

nav .nav-control:hover .nav-object {display: block;}
nav .nav-control .nav-object {
  position: absolute;
  width: 100%;
  display: none;
  background-color: #1f7a54;
}

nav .nav-object ul li { 
  display: block; 
}

nav .nav-object ul li a {
  display:block !important;
  color: white;
}

nav .nav-object ul li:hover {
  background: #36ae7c;
  color: #ccc;
}

.menu-i{
  background-color: #0044AA;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

main {
  margin: 0%;
  width: 100vw;
  background-color: #dae5d0;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main h2{
  width: 100%;
  text-align: center;
}

main section .comentarios {
  width: 100%;
  margin: 0rem;
  background-color: #fefbe7;
  list-style-type: none;
}

main section .carrito {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

main section .carrito-item {
  padding: 2vh;
  align-self: flex-start;
}

main section .carrito-item-img {
  align-self: center;
}

main section .producto {
  flex-grow: 4;
}

main section .descripcion {
  flex-grow: 1;
  list-style-type: circle;
}

main section .descripcion {
  font-size: 1.5rem;
}

main section article {
  margin: 0.5rem;
  padding: 1rem;
  /* background-color: #dae5d0; */
  background-color: #fefbe7;
  transition: box-shadow 1000ms;
}

main section article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


main section article .nav {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  transition: box-shadow 1000ms;
}

main section article .nav:hover{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article .nav .descripcion{
  opacity: 0;
  font-size: .9rem;
  padding: 0px 0px 0px 10px;
  transition: opacity 1000ms;
}

main section article .nav:hover .descripcion{
  opacity: 1;
}

main section article .nav-item {
  width: 100%;
  list-style-type: none;
}

main section article .nav-item-end {
  padding: 0%;
  margin: 0%;
  text-align: right;
}

main section article .descripcion-item {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}

main section article img {
  width: 100%;
}

main section article button {
  background-color: #187498;
  list-style-type: none;
}

main section img {
  width: 100%;
}

footer {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  /* background-color: #a0bcc2; */
  background-color: #a5ad9e;
}

footer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer section article {
  margin: 0%;
  padding: 0%;
  width: 300px;
}

footer section article .nav {
  margin: 0%;
  padding: 0.5rem;
  align-items: baseline;
  font-size: 1rem;
}

footer section .nav-item {
  align-items: baseline;
  padding: 0.25rem;
  text-align: center;
  list-style-type: none;
}

footer section .nav-item i{
  color: #0044AA;
  font-size: 2rem;
  transition: color 400ms;
}

footer section .nav-item i:hover{
  color: #1f7a54;
}

/* Tablets */
@media (min-width: 480px) {
  nav .nav {
    font-size: 1rem;
  }

  nav .nav-control .burger-menu{
    display: none;
  }

  nav .nav-control .nav-object {
    position: relative;
    display: block;
    background-color: #36ae7c;
  }

  nav .nav-control .nav-object:hover{
    background-color: #1f7a54;
  }

  nav .nav-object ul li { 
    display: block; 
    width: auto;
  }

  main section article .nav {
    font-size: 2rem;
  }

  main section article .nav .descripcion{
    opacity: 1;
    font-size: 1rem;
  }

  main section .comentarios {
    font-size: 1.5rem;
  }

  main section .carrito-item {
    padding: 2vh;
  }

  main section .login {
    height: 70vh;
  }

  footer section article .nav {
    font-size: 1rem;
  }

  footer section article {
    width: 33.3%;
  }
}

/* Laptop */
@media (min-width: 769px) {

  body {
    height: 100vh;
  }

  main section {
    flex-direction: row;
    justify-content: space-around;
  }

  main section article {
    margin: 0.5rem;
    width: 300px;
  }

  main section article .nav-item {
    width: 100%;
    list-style-type: none;
  }

  main section .carrito-item {
    padding: 0%;
  }

  main section .carrito-item-img {
    align-self: center;
    width: 35%;
  }

  main section .descripcion {
    /* font-size: 1rem; */
    width: 600px;
  }
}

/* Laptop */
@media (min-width: 922px) {
  main section .carrito-item-img {
    align-self: center;
    width: 40%;
  }
}
/*Formularios*/

/* Style de inputs, selectores y text area  */
input[type="text"],
input[type="url"],
input[type="number"],
input[type="file"],
input[type="email"],
input[type="date"],
input[type="checkbox"],
input[type="password"],
input[type="tlf"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style de etiquetas */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style de submit button */
input[type="submit"] {
  background-color: #220e96;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style de los contenedores */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* columnas flotantes para labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* columnas flotantes para inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* floats despues de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - cuando la pantalla es menor de 600px wide, hacer las dos columnas stack sobre ellos */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
