<!-- Creación -->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <h2>Crea un nuevo producto</h2>

            <form action="/crearLista" method="post" enctype = "multipart/form-data">

              <div class="container">
                
                <div class="row">
                    <div class="col-25">
                      <label for="name">Nombre</label>
                    </div>
                    <div class="col-75">
                      <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Nombre del producto"
                      />
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="precio">Precio</label>
                    </div>
                    <div class="col-75">
                      <input
                        type="number"
                        id="precio"
                        name="precio"
                        placeholder="Precio inicial del producto"
                      />
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="img">URL de la imagen</label>
                    </div>
                    <div class="col-75">
                      <input
                        type="url"
                        id="img"
                        name="img"
                        placeholder="Ingresa una URL para la imagen"
                      />
                    </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="fileImg">Agrega una imagen</label>
                  </div>
                  <div class="col-75">
                    <input
                      type="file"
                      id="fileImg"
                      name="fileImg"
                    />
                  </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="categoria">Categoría</label>
                    </div>
                    <div class="col-75">
                      <input
                        type="text"
                        id="categoria"
                        name="categoria"
                        placeholder="Categoría del producto"
                      />
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="description">Descripción</label>
                    </div>
                    <div class="col-75">
                      <textarea id="description" name="description" placeholder="Descripción general del producto" style="height:200px"></textarea>
                    </div>
                </div>

              </div>

              <div class="row">
                  <input type="submit" value="Crear" />
              </div>

            </form>

        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>