<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando un archivo al navegador</title>
</head>
<body>
    <form action="resultado.html" method="POST">
      <p>
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
      </p>

      <p>
        <label>E-mail:</label>
        <input type="email" name="email" required>
      </p>

      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
      </p>

      <p>
        <button type="submit">ENVIAR</button>       
      </p>
    </form>
  </body>
</html>