<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <h1>Error </h1>
            <section>
                    Error 404!! pagina no disponible
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>