<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <h1>Error </h1>
            <% if (locals.userID) { %>
                <h1><%= userID.firstname %> </h1>
            <% } %>
            <h3>Es posible que tengamos algún error en tú petición.</h3>
            <section>
                    <h1> Error 404!! pagina no disponible, lo sentimos!!!</h1> 
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>