<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <h1>Error </h1>
            <h1><%= userID.firstname %> </h1>
            <h3>Es posible que allas eliminado un producto.</h3>
            <section>
                    <h1> Error 404!! pagina no disponible o eliminaste esta ruta, verificalo!!!</h1> 
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>