<%- include('./partials/head')  %>
<body>
  <%- include('./partials/header')  %>
    <main>
      <section>
        <form action="/registro" method="post" enctype = "multipart/form-data">
          <div class="container">
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <input type="date" name="birth_date" id="birth_date">
            <br>
            <label for="adress"><b>Direccion</b></label>
            <input type="text" name="addres" placeholder="Domicilio">
            <br>
            <label for="tlf"><b>Número telefonico</b></label>
            <input type="tlf" name="telefono" placeholder="(código de área) - Telefono">
            <h4>Perfil del usuario</h4>
            <div class="profile">
                <input type="radio" name="profile" value="buy" id="buy">
                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="fileImg">Agrega una imagen de perfil</label>
              </div>
              <div class="col-75">
                <input
                  type="file"
                  id="fileImg"
                  name="fileImg"
                />
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-25">
                <label for="fname">Nombre</label>
              </div>
              <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Tu nombre">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="lname">Apellido</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="lastname" placeholder="tu apellido">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="country">Pais</label>
              </div>
              <div class="col-75">
                <select id="country" name="country">
                  <option value="colombia">Colombia</option>
                  <option value="venezuela">Venezuela</option>
                  <option value="mexico">Mexico</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="password">Contraseña</label>
              </div>
              <div class="col-75">
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="confirmPassword">Confirma contraseña</label>
              </div>
              <div class="col-75">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="Confirm Password"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="subject">Comentario</label>
              </div>
              <div class="col-75">
                <textarea id="subject" name="subject" placeholder="Cuentanos algo de ti" style="height:200px"></textarea>
              </div>
            </div>
            <div class="row">
              <input type="submit" value="Submit">
            </div>
          </div>
        </form>
      </section>
    </main>
  <%- include('./partials/footer')  %>
</body>
</html>