<footer>
    <section>
        <article>
            <ul class="nav">
                <h4 class="nav-item">
                    <i class="fa-solid fa-credit-card"></i>
                    <br>
                    <p>Elige cómo pagar</p>
                </h4>
                <li class="nav-item"><a href="">¡Siempre es seguro!</a></li>
            </ul>
        </article>
        
        <article>
            <ul class="nav">
                <h4 class="nav-item">
                    <i class="fa-solid fa-gift"></i>
                    <br>
                    <p>Envío gratis desde $300</p>
                </h4>
                <li class="nav-item"><a href="">Envíos gratis en miles de productos.</a></li>
            </ul>
        </article>
        <article>
            <ul class="nav">
                <h4 class="nav-item">
                    <i class="fa-solid fa-user-shield"></i>
                    <br>
                    <p>Seguridad</p>
                </h4>
                <li class="nav-item"><a href="">¿No te gusta? ¡Devolvelo!</a></li>
            </ul>
        </article>
    </section>
</footer>