<footer>
    <section>
        <article>
            <ul class="nav">
                <h4 class="nav-item">Elige cómo pagar <br>
                    <i class="fa-solid fa-credit-card"></i>
                </h4>
                <li class="nav-item"><a href="">¡Siempre es seguro!</a></li>
            </ul>
        </article>
        
        <article>
            <ul class="nav">
                <h4 class="nav-item">Envío gratis desde $300 <br>
                    <i class="fa-solid fa-box"></i></h4>
                <li class="nav-item"><a href="">Envíos gratis en miles de productos.</a></li>
            </ul>
        </article>
        <article>
            <ul class="nav">
                <h4 class="nav-item">Seguridad <br>
                    <i class="fa-solid fa-triangle-exclamation"></i></h4>
                <li class="nav-item"><a href="">¿No te gusta? ¡Devolvelo!</a></li>
            </ul>
        </article>
    </section>
</footer>