<header>
    <!-- logotipo -->
    <div id="logo">
        <div class="nombre"><a href="/">COLMEX</a></div>
        <div class="buscar">
            <form>
                <input type="text" name="search" placeholder="Search..">
            </form>
        </div>
    </div>
    <!-- Barra de búsqueda -->
    <div id="nombreUser"></div>
    <div id="sangre"></div>
    <div id="paz"></div>
</header>


<!-- Barra de navegación -->
<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="detalleProducto">Detalla del producto</a></li>
        <li class="nav-item"><a class="nav-link" href="registro">Registro</a></li>
        <li class="nav-item"><a class="nav-link" href="login">login</a></li>
        <li class="nav-item"><a class="nav-link" href="crearLista">Crear lista</a></li>
        <li class="nav-item"><a class="nav-link" href="categorias">Categorias</a></li>
        <li class="nav-item"><a class="nav-link" href="carritoCompras">Carrito de compras</a>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-bell"></i></li>
    </ul>
</nav>