<header>
    <!-- logotipo -->
    <div id="logo">
        <div class="nombre"><a class="nombre" href="/">COLMEX</a></div>
        <div class="buscar">
            <form>
                <input type="text" name="search" placeholder="Search..">
            </form>
        </div>
    </div>
    <!-- Barra de búsqueda -->
    <div id="nombreUser"></div>
    <div id="sangre"></div>
    <div id="paz"></div>
</header>

<!-- Barra de navegación -->
<nav class="">
    <div class="nav-control">
        <i class="fa fa-bars burger-menu menu-i"></i>

        <div class="nav-object">
            <ul class="nav">
                <!-- <li class="nav-item"><a class="nav-link" href="detalleProducto">Detalle del producto</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/categorias">Categorias</a></li>
                <li class="nav-item"><a class="nav-link" href="/crearLista">Crear lista</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/edita">Edita</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/registro">Registro</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">login</a></li>
                <li class="nav-item"><a class="nav-link" href="/carritoCompras"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="/"><i class="fa-solid fa-bell"></i></a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/"><img class="img-nav" src="/img/users/%= userID.fileImg %>" alt="No image"></a></li> -->
            </ul>
        </div>
    </div>
</nav>