<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/bcbcc485fd.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/img/Logo.jpg" />
        <link rel="stylesheet" href="/css/styles.css">
        <title>COLMEX</title>
    </head>